  
    <div class="bar">
        <!-- <svg
           class="logo"
           width="32"
           height="32"
           viewBox="0 0 8.4666666 8.466667"
           version="1.1"
           id="svg6344"
           inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)"
           sodipodi:docname="nb-sm-spice-logo-32x32.svg"
           xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
           xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:svg="http://www.w3.org/2000/svg">
          <defs
             id="defs6341">
            <marker
               style="overflow:visible"
               id="Arrow1Lstart"
               refX="0"
               refY="0"
               orient="auto"
               inkscape:stockid="Arrow1Lstart"
               inkscape:isstock="true">
              <path
                 transform="matrix(0.8,0,0,0.8,10,0)"
                 style="fill:context-stroke;fill-rule:evenodd;stroke:context-stroke;stroke-width:1pt"
                 d="M 0,0 5,-5 -12.5,0 5,5 Z"
                 id="path20172" />
            </marker>
            <rect
               x="272.20166"
               y="396.44049"
               width="97.393257"
               height="86.155571"
               id="rect12426" />
          </defs>
          <g
             inkscape:groupmode="layer"
             id="layer3"
             inkscape:label="Layer 2">
            <rect
               style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0.238123;stroke-linecap:square;stroke-linejoin:round;paint-order:fill markers stroke"
               id="rect4970"
               width="0.66145188"
               height="0.66145849"
               x="7.0173559"
               y="7.093987"
               ry="0.33072925" />
          </g>
          <g
             inkscape:label="Layer 1"
             id="layer1"
             transform="matrix(0.24999755,0,0,0.25000007,0.07211128,0.14867237)">
            <text
               xml:space="preserve"
               transform="matrix(2.3919151,0,0,2.3919151,-647.23626,-950.66138)"
               id="text12424"
               style="font-size:16px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect12426);opacity:1;fill:#ffffff;fill-opacity:1"><tspan
                 x="272.20117"
                 y="410.59766"
                 id="tspan998">S</tspan></text>
          </g>
        </svg>        -->
        <div class="logo"><img src="\logo.png" alt=""></div>
        <a class="link" routerLink="home">Home</a>
        <a class="link" routerLink="recipes">Recipes</a>
        <a class="link" routerLink="deviceView">Device View</a>
        <a class="link" routerLink="addDevice">Add Device</a>
        <a class="link" routerLink="find-recipes">Find Recipes</a>
    </div>
  