<div class="container">
  <h1 class="device-info-title">Device Info</h1>
  <div *ngIf="deviceInfo.productID">
    <p class="device-info-subtitle"><strong>Product ID:</strong> {{ deviceInfo.productID }}</p>
    <p class="device-info-subtitle"><strong>Spice Log:</strong></p>
    <table class="spice-table">
      <thead>
        <tr>
          <th>Spice Name</th>
          <th>Quantity</th>
          <th>Last Refilled</th>
          <th>Times Used</th>
        </tr>
      </thead>
      <tbody>
        <tr 
          *ngFor="let spice of spiceContainerAnalytics"
          [class.low-quantity]="spice.spiceQuantity <= lowSpiceThreshold"
        >
          <td>{{ spice.spiceName }}</td>
          <td>
            <svg width="15" height="40" class="progressBar">
              <defs>
                <linearGradient [attr.id]="spice.id" x1="0" y1="1" x2="0" y2="0">
                  <stop id="stop1" offset="0" stop-color="#68a368">
                    <animate
                    attributeName="offset"
                    from="0"
                    [attr.to] = "spice.spiceQuantity/100"
                    dur="3s"
                    fill="freeze"
                    repeatCount="1"
                    begin="1s"
                  />
                  </stop>
                  <stop id="stop2" offset="0%" stop-color="lightblue">
                      <animate
                        attributeName="offset"
                        from="0"
                        [attr.to] = "spice.spiceQuantity/100"
                        dur="3s"
                        fill="freeze"
                        repeatCount="1"
                        begin="1s"
                      />
                  </stop>
                </linearGradient>
              </defs>
              <rect id="my-shape" width="15" height="40" [attr.fill] = "'url(#' + spice.id + ')'"/>
            </svg>
            {{ "   " + spice.spiceQuantity }} %
          </td>
          <td>{{ spice.lastRefilled ? (spice.lastRefilled | date: 'medium') : 'N/A' }}</td>
          <td>{{ spice.timesUsed }}</td>
        </tr>
      </tbody>
    </table>

    <!-- Warning message for low spice quantities -->
    <div *ngIf="hasLowSpices()" class="alert alert-warning">
      <strong>Warning:</strong> Some spices are running low. Please refill them soon!
    </div>

    <button class="btn btn-danger" (click)="removeDevice()">Remove Device</button>
  </div>
  <div *ngIf="!deviceInfo.productID">
    <p>No device found. Add your device here: </p>
    <button class="btn btn-primary" (click)="goToAddDevice()">Add Device</button>
  </div>

  <div *ngIf="toastVisible" class="toast">
    {{this.toastText}}
  </div>
  @if(this.lowSpiceNotification.value){
    <button class="btn btn-primary" (click)="clearNotification()">Clear Notification</button>
  }
  
</div>