<div class="spiceContainer">
    <div class="infoText">
      <h1>Selected Spice:</h1>
      <h2>{{ selectedSpice }}</h2>
    </div>
    <div class="buttonContainer">
      <!-- Use *ngFor to iterate over spiceList -->
      <app-spice-button
        class="spiceButton"
        *ngFor="let spice of spiceList"
        [spice]="spice"
        [(ngModel)]="selectedSpice"
        [disabled]="!spice.isLow"
        (click)="isSpiceSelected()"
      >
        {{ spice.spiceName }}
      </app-spice-button>
    </div>
    <div class="controlButtons">
      <button class="back-button" (click)="goBack()">Back</button>
      <button
        class="continueButton"
        type="button"
        (click)="goToDispense()"
        [disabled]="!spiceSelected"
      >
        Select
      </button>
    </div>
  </div>