<div class="container">
    <div class="form-container">
        <h1>Add Device</h1>
        <div>
            <label for="productID">Product ID:</label>
            <input type="search" id="productID" name="productID" placeholder="Enter Product ID" #productID required>
            <button class="btn-primary"type="submit" (click)="onSubmit(productID.value)">Add Device</button>
        </div>
    </div>
</div>
<!--TODO: add a toast pop up depending on whether or not the device was added successfully-->