<div class="container">  
    <h1> Add Recipe </h1>  
    <form [formGroup]="productForm">
      <p>  
        <label for="recipeName">Recipe Name:</label>  
        <input type="text" id="recipeName" name="recipeName" formControlName="recipeName" class="form-control">  
      </p>  
      <table class="table table-bordered" formArrayName="spices" *ngIf="spiceOptions?.length > 0">  
        <tr>  
          <th colspan="2">Add Spices:</th>  
          <th width="150px"><button type="button" (click)="addSpice()" class="btn btn-primary">Add More</button></th>  
        </tr>  
        <tr *ngFor="let quantity of spices().controls; let i=index" [formGroupName]="i">  
          <td>  
              Spice:  
              <select formControlName="spiceName" class="form-control">
                <option *ngFor="let spice of spiceOptions" [value]="spice">{{ spice }}</option>
              </select>
          </td>  
          <td>  
              Amount:  
              <select formControlName="spiceMeasurement" class="form-control">
                <option>1/8 teaspoon</option>
                <option>1/4 teaspoon</option>
                <option>1/2 teaspoon</option>
                <option>3/4 teaspoon</option>
                <option>1 teaspoon</option>
                <option>1 and 1/8 teaspoon</option>
                <option>1 and 1/4 teaspoon</option>
                <option>1 and 1/2 teaspoon</option>
                <option>1 and 3/4 teaspoon</option>
                <option>2 teaspoon</option>
              </select> <!-- TODO: add tablespoon measurements?-->
          </td>  
          <td>  
              <button (click)="removeSpice(i)" class="btn btn-danger">Remove</button>  
          </td>  
        </tr>  
      </table>  
      <button type="submit" (click)="onSubmit()">Submit</button>  
    </form>  
    <br/>  
</div>

<div class="container">  
  <h1> AI Recipe Suggestion </h1>  
  <form>
    <p>
      <label for="aiRecipeInput" style="font-size: 16px;">Describe your recipe idea:</label>
      <textarea
        id="aiRecipeInput"
        name="aiRecipeInput"
        [(ngModel)]="aiRecipeDescription"
        class="form-control"
        [maxLength]="maxAiDescriptionLength"
        (input)="updateAiRemainingCharacters()"
      ></textarea>
      <small>{{ aiRemainingCharacters }}/{{ maxAiDescriptionLength }} characters left</small>
    </p>
    <button type="button" class="btn btn-primary" (click)="submitAiRecipe()">Submit AI Recipe</button>
  </form>
</div>

<!-- Display AI Recipe Suggestions -->
<!-- TODO: style this similarly to other recipe displays (should include spice quantities) -->
<!-- TODO: there should be an "add recipe" button to each suggestion container. make sure its properly added (pass the function the suggestion)-->
 <!--TODO: it could take a while to get suggestions... add a loading message or anim. -->
<div class="row" *ngIf="aiRecipeSuggestions.length > 0">
  <div class="col" *ngFor="let suggestion of aiRecipeSuggestions">
    <div class="suggestion-container">
      <h3>{{ suggestion.recipeName }}</h3>
      <ul>
        <li *ngFor="let spice of suggestion.spices">
          {{ spice.spiceName }}
        </li>
      </ul>
    </div>
  </div>
</div>