<div class="background">
    <div class="container">
      <h2>Spices low in one or more containers:</h2>
      <ng-container *ngIf="lowSpiceContainers.length > 0; else noLowSpices">
        <ul>
          <li *ngFor="let container of lowSpiceContainers">
            <span>Container {{container.containerNumber}}: {{container.spiceName}}</span>
            <span class="percentage" [ngClass]="{'critical': container.spiceQuantity < 10}">
              {{container.spiceQuantity}}% left
            </span>
            <button class="refill-button" [disabled]="loading" (click)="refillSingleLowSpiceContainer(container)">Refill</button> <!-- TODO: style refill button (disabled and normal)-->
          </li>
        </ul>
      </ng-container>
      <ng-template #noLowSpices>
        <p>No spices are currently low in stock.</p>
      </ng-template>
      <button class="back-button" (click)="goBack()">Back to Recipes</button>
    </div>
  </div>
  
  