<h1>Recipes</h1>
<div class="scrollable-container">
  <ul>
    <li *ngFor="let recipe of recipes">
      <div class="recipe-header">
        <strong>{{ recipe.recipeName }}</strong>
        <div class="recipe-actions">
          <button class="btn btn-edit" (click)="editRecipe()">Edit</button>
          <button class="btn btn-share" (click)="shareRecipe()">Share</button>
          <button class="btn btn-delete" (click)="deleteRecipe()">Delete</button>
        </div>
      </div>
      <ul>
        <li *ngFor="let spice of recipe.spices">
          {{ spice.spiceName }}: {{ spice.spiceMeasurement }}
        </li>
      </ul>
    </li>
  </ul>
</div>

