<div class="scrollable-container">
  <div *ngIf="recipes.length === 0">
    You currently have no recipes. Start creating them here:
    <button class="btn btn-primary" (click)="goToRecipes()">Create Recipe</button>
  </div>
  <div *ngIf="recipes.length != 0">
    <ul>
      <li *ngFor="let recipe of recipes" class="recipe-cont">
        <form [formGroup]="recipeForms[recipe.id]">
          <!-- Recipe Name Row -->
          <div class="recipe-header">
            <strong *ngIf="!recipe.editing">{{ recipe.recipeName }}</strong>
            <input *ngIf="recipe.editing" formControlName="recipeName" placeholder="Edit recipe name" />
          </div>

          <!-- Actions Row -->
          <div class="recipe-actions">
            <button class="btn btn-edit" *ngIf="!recipe.editing" [disabled]="editing" (click)="editRecipe(recipe)">Edit</button>
            <button class="btn btn-save" *ngIf="recipe.editing" (click)="saveRecipe(recipe)">Save</button>
            <button class="btn btn-delete" (click)="deleteRecipe(recipe.id)">Delete</button>
            <label class="toggle-switch">
              <input 
                type="checkbox" 
                [checked]="recipe.isPublic"
                (change)="toggle(recipe.id)"
              />
              <span class="slider"></span>
            </label>
          </div>

          <ul formArrayName="spices">
            <li *ngFor="let spice of getSpices(recipe.id).controls; let i = index" [formGroupName]="i">
              <div *ngIf="!recipe.editing">
                {{ spice.get('spiceName')?.value }}: {{ spice.get('spiceMeasurement')?.value }}
              </div>
              <div *ngIf="recipe.editing">
                <select formControlName="spiceName" class="form-control">
                  <option *ngFor="let spice of spiceOptions" [value]="spice">{{ spice }}</option>
                </select>
                <select formControlName="spiceMeasurement" class="form-control">
                  <option *ngFor="let amount of spiceMeasurements">{{ amount }}</option>
                </select>
                <button class="btn btn-delete" (click)="removeSpice(recipe.id, i)">Remove</button>
              </div>
            </li>
          </ul>

          <div *ngIf="recipe.editing">
            <button class="btn btn-add" (click)="addSpice(recipe.id)">Add Spice</button>
          </div>

        </form>
      </li>
    </ul>
  </div>
</div>
