<div class="find-recipes-container">
    <h1>Find Recipes</h1>
    <ul>
      <li *ngFor="let recipe of publicRecipes">
        <h3>{{ recipe.recipeName }} by {{recipe.userName}}</h3>
        <ul>
          <li *ngFor="let spice of recipe.spices">
            {{ spice.spiceName }}: {{ spice.spiceMeasurement }}
          </li>
        </ul>
        <button (click)="saveRecipe(recipe)">Save Recipe</button>
      </li>
    </ul>

    <div *ngIf="toastVisible" class="toast">
      {{this.toastText}}
    </div>
</div>

  <!-- TODO-DEX: add usernames to the public recipes displayed -->