/* Centering container */
.find-recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 600px; /* Thinner and more centered */
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(to bottom right, #a8e6a3, #c8f5c1, #e0fbe0); /* Lighter green gradient */
    border: 1px solid #cccccc;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif; /* Use Arial font */
}

/* Headings */
.find-recipes-container h1 {
    font-size: 28px;
    color: #2c5a2c;
    margin-bottom: 20px;
    font-weight: bold;
}

.find-recipes-container h3 {
    font-size: 20px;
    color: #2c5a2c;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Recipe list */
.find-recipes-container ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.find-recipes-container li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f9f9f9;
    margin-bottom: 15px;
    padding: 10px; 
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
    width: 80%; 
    max-width: 500px; 
    margin-left: auto; 
    margin-right: auto; 
}

/* Inner list for spices */
.find-recipes-container li ul {
    margin-top: 10px;
    padding-left: 20px;
}

.find-recipes-container li ul li {
    font-size: 14px;
    color: #555;
}

/* Buttons */
.find-recipes-container button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #69c46d; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: bold;
}

.find-recipes-container button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}


.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 16px;
    text-align: center;
    animation: fadeInOut 3s ease-in-out;
    font-family: Arial, sans-serif; 
}


@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(10px);
    }
    10%, 90% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(10px);
    }
}