.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #66bb6a, #81c784, #a5d6a7);
    color: white;
    font-family: Arial, sans-serif;
  }
  .shaker{
    position: relative;
    margin: 10px;
    height: 450px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    animation: shake 1s infinite;
  }
  .sprinkles{
    position: absolute;
  }
  .sprinkles {
    bottom: 35px;
    left: 60px;
    animation-name: showHide;
    animation-duration: 1s;
    animation-timing-function: steps(3, end);
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forwards;

  }

  @keyframes showHide {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
  }

  @keyframes shake {
    0% { transform: rotate(0deg); }
    80% { transform: rotate(0deg); }
    85% { transform: rotate(5deg); }
    95% { transform: rotate(-5deg); }
   100% { transform: rotate(0deg); }
  }